﻿<h2>Registrar Preguntas</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/Preguntas/create" method="post">

            <div class="form-group">
                <label for="">Selccionar Puesto:</label>
               
               <select class="form-control"  name="Puesto">
                        <option value="Puesto 1">Puesto 1</option>
                        <option value="Puesto 2">Puesto 2</option>
                    </select>
                
                   
                @*<input type="text" name="Nombres" class="form-control" placeholder="Nombre" />*@
            </div>
            <div class="form-group">
                <label for="">Ingrese Una nueva Pregunta:</label>
                <input type="text" name="Pregunta" class="form-control" placeholder="Pregunta?" />
            </div>           

            <button class="btn btn-primary">
                  <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Guardar</button>
             
             <a href="/Preguntas/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>
        </form>
    </div>

</div>