﻿
@*@model List<Modelos.Postulante>*@
    <h2>Lista Preguntas</h2>

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

    <form action="/preguntas" method="get">

    <div class="row">
        <div class="col-md-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
           
        </div>
        
        <div class="col-md-4">
            <button class="btn btn-primary">
               <span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
                 
                Buscar</button>

             <a href="/preguntas/create" class="btn btn-success">
                  <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 Registrar Pregunta</a>
        </div>
    </div>
</form>

<table class="table tabble-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pregunta</th>
            <th>Puesto</th>            
        </tr>
    </thead>   
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Pregunta</td>
                <td>@item.Puesto</td>            

                <td>
                    <a href="/preguntas/edit/@item.Id">
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                         Editar</a> |
                    <a href="/postulante/delete/@item.Id"> 
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<a href="/Principal/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>