﻿<link rel="stylesheet" href="/Content/bootstrap.css">
<script src="~/Scripts/jquery-1.9.1.js"></script>

@model List<Modelos.Preguntas>

    

<form action="/Preguntas/Prueba" method="get">

    <div class="row">
        <div class="col-md-2">
            Cantidad de Preguntas: 
        </div>
        <div class="col-md-1">
            <input type="text" name="cantidad" class="form-control" placeholder="" />
        </div>
        <div class="col-md-1">
            Puesto:
        </div>
        <div class="col-md-2">
            <select class="form-control"  name="Puesto">
                        <option value="Puesto 1">Puesto 1</option>
                        <option value="Puesto 2">Puesto 2</option>
                    </select>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary">
                Generar</button>
        </div>
    </div>
</form>


<table class="table tabble-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pregunta</th>
            <th>Puesto</th>
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Pregunta</td>
                <td>@item.Puesto</td>
            </tr>
        }
    </tbody>
</table>


<a href="/Principal/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>

<a href="/Preguntas/Prueba" 
                        onclick="return confirm(' Desea imprimir las Preguntas');">
                        <span  class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        Imprimir preguntas de conocimiento
</a>
                        
