﻿
@model List<Modelos.Postulante>

<h2>Productos</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>ApellidoPaterno</th>
            <th>ApellidoMaterno</th>
            <th>Sexo</th>
            <th>Celular</th>
            <th>Correo</th>
            <th>DNI</th>
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ApellidoPaterno</td>
                <td>@item.ApellidoMaterno</td>
                <td>@item.Sexo</td>
                <td>@item.Celular</td>
                <td>@item.CorreoElectronico</td>
                <td>@item.DNI</td>
            </tr>
        }
    </tbody>
</table>


