﻿
@*@model List<Modelos.Postulante>*@
    <h2>Lista Postulantes</h2>

@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}
    <form action="/postulante" method="get">

    <div class="row">
        <div class="col-md-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
           
        </div>
        
        <div class="col-md-4">
            <button class="btn btn-primary">
               <span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
                 
                Buscar</button>

             <a href="/postulante/create" class="btn btn-success">
                  <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 Registrar Postulante</a>
        </div>
    </div>
</form>

<table class="table tabble-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>ApellidoPaterno</th>
            <th>ApellidoMaterno</th>
            <th>Sexo</th>
            <th>Celular</th>
            <th>Correo</th>
            <th>DNI</th>
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombres</td>
                <td>@item.ApellidoPaterno</td>
                <td>@item.ApellidoMaterno</td>
                <td>@item.Sexo</td>
                <td>@item.Celular</td>
                <td>@item.CorreoElectronico</td>
                <td>@item.DNI

                </td>
                <td>
                    <a href="/postulante/edit/@item.Id">
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                         Editar</a> |
                    <a href="/postulante/delete/@item.Id" 
                        onclick="return confirm(' Desea eliminar al postulante : @item.Nombres'+ ' @item.ApellidoPaterno'+ ' @item.ApellidoMaterno');">
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="/Principal/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>